@{ 
    ViewBag.Title = "ثبت نام";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}
@model DataLayer.DB.User
<div class="aa-signin-form-title">
    <a class="aa-property-home" style="color: cadetblue !important" href="@Url.Action("Index","Home")">
        <i class="fa fa-home"></i>
        @DataLayer.Resources.Resource_Main.SiteTitle
    </a>
    <h4>@DataLayer.Resources.Resource_Main.SiteRegister</h4>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="aa-single-field">

        <div class="aa-single-field">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="aa-single-field">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="aa-single-field">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="aa-single-field">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@DataLayer.Resources.Resource_Main.Register" class="btn btn-success" />
            </div>
        </div>


    </div>
}