@model DataLayer.DB.HomeProperty
    <article class="aa-properties-item">
        <a href="/Property/ShowDetailProperty?id=@Model.HomePropertyID" class="aa-properties-item-img">
            <img src="~/Areas/UserPanel/HomePropertyUploadImages/Thumb/@Model.ImageName" alt="img">
        </a>
        <div class="aa-tag for-rent">
            @Model.HomeProperty_Status.StatusTitle
        </div>
        <div class="aa-properties-item-content">
            <div class="aa-properties-info">
                <span><span>2<span class="fa fa-bed"></span></span></span>
                <span>@Model.LocAge سن بنا </span>
                <span>@Model.LocArea مترمربع</span>
                <span style="color:cornflowerblue">محدوده :<span style="color:black !important">@Model.Rigion.RegionTitle</span></span>
            </div>
            <div class="aa-properties-about">
                <h3><a href="/Property/?id=@Model.HomePropertyID">@Model.Title</a></h3>
                <p>@Model.Description
                <span id="dots">...</span></p>
            </div>
            <div class="aa-properties-detial">
                <span class="aa-price">
                  @Model.RentPrice  تومان 
                </span>
                <a href="/Property/ShowDetailProperty?id=@Model.HomePropertyID" class="aa-secondary-btn">نمایش جزئیات</a>
            </div>
        </div>
    </article>
 
