@model DataLayer.DB.HomeProperty
<article class="aa-properties-item">
    <a href="/Property/ShowDetailProperty?id=@Model.HomePropertyID" class="aa-properties-item-img">
        <img src="~/Areas/UserPanel/HomePropertyUploadImages/Thumb/@Model.ImageName" alt="img">
    </a>
    @{
        if (Model.StatusID == 1)
        {
            <div class="aa-tag for-sale">
                @Model.HomeProperty_Status.StatusTitle
            </div>
        }
        else if (Model.StatusID == 2)
        {
            <div class="aa-tag for-rent">
                @Model.HomeProperty_Status.StatusTitle
            </div>
        }
        else if (Model.StatusID == 3)
        {


            <div class="aa-tag sold-out">
                @Model.HomeProperty_Status.StatusTitle
            </div>
        }

    }
    <div class="aa-properties-item-content">
        <div class="aa-properties-info">
            <span><span>2<span class="fa fa-bed"></span></span></span>
            <span>@Model.LocAge سن بنا </span>
            <span>@Model.LocArea مترمربع</span>
            <span style="color:cornflowerblue">محدوده :<span style="color:black !important">@Model.Rigion.RegionTitle</span></span>
        </div>
        <div class="aa-properties-about">
            <h3><a href="/Property/?id=@Model.HomePropertyID">@Model.Title</a></h3>
            <p>
                @Model.Description
                <span id="dots">...</span>
            </p>
        </div>

        <div class="aa-properties-detial">
            <table id="tblPrice" class="table table-striped">


                <tr>
                    <td style="padding: 1px !important; font-size: 13px !important;">@(Model.PropertyTypeID == 1 ? "فروش" : "رهن")</td>
                    <td class="txtdecimal" style="padding: 1px !important; font-size: 13px !important;">@(Model.PropertyTypeID == 1 ? Model.HomePrice : Model.MortgagePrice) تومان</td>
                </tr>
                <tr>
                    @{
                        if (Model.PropertyTypeID == 2)
                        {
                            //var str = '\B(?=(\d{3})+(?!\d))';
                            <td style="padding: 1px !important;font-size: 13px !important;">@(Model.PropertyTypeID == 2 ? "اجاره" : "")</td>
                            <td class="txtdecimal" style="padding: 1px !important; font-size: 13px !important;">@(Model.PropertyTypeID == 2 ? Model.RentPrice: 0) تومان</td>

                        }
                    }


                </tr>


            </table>
            <a href="/Property/ShowDetailProperty?id=@Model.HomePropertyID" class="aa-secondary-btn">نمایش جزئیات</a>
        </div>
    </div>
</article>
<script src="~/Scripts/jquery.js"></script>

<script>
    //function eArabic(x) {
    //    return x.toLocaleString('ar-EG');
    //}
    //$(function ($) {
    //    $('.txtdecimal').autoNumeric('init', { lZero: 'deny', aSep: ',', mDec: 1, currencySymbol: ' €' });
    //});
    $(document).ready(function () {
        $('#tblPrice .txtdecimal').each(function () {
            //console.log($(this).html());
           
           $(this).text(ToRial($(this).text()));
        });
    });

    function ToRial(str) {

        str = str.replace(/\,/g, '');
        var objRegex = new RegExp('(-?[0-9]+)([0-9]{3})');

        while (objRegex.test(str)) {
            str = str.replace(objRegex, '$1,$2');
        }

        return str;
    }

</script>

